.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5e35b1;
    color: #fff;
    padding: 0 1rem 0 1rem;
    height: 60px;

    h1 {
        margin: 0;
        font-size: 1.4rem;
    }

    img {
        margin-left: 1rem;
        height: 30px;
        width: auto;
    }
}