.body {
    max-width: 70%;
    margin: 2rem auto;
    padding: 2rem;

    .titulo {
        font-size: 72px;
        margin-bottom: 2rem;
    }

    hr {
        margin-bottom: 2rem;
    }

    .container {
        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            .descricao {
                font-size: 16px;
            }

            .dado {
                font-size: 22px;
                font-weight: bold;
            }
        }
    }

}

@media (max-width: 480px) {
    .body {
        margin: 1rem;
        padding: 1rem;

        .titulo {
            font-size: 40px;
        }

        .container {
            div {

                .descricao {
                    font-size: 16px;
                }

                .dado {
                    font-size: 1rem;
                }
            }
        }
    }
}