.form-container {
    max-width: 70%;
    margin: 2rem auto;
    padding: 2rem;

    .form-titulo {
        font-size: 72px;
        margin-bottom: 4rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .form-item-campo {
        display: flex;
        flex-direction: column;
        padding-bottom: 26px;

        label {
            font-size: 16px;
            margin-bottom: 0.5rem;
            font-weight: 600;
        }

        input {
            padding: 0 10px;
            height: 45px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;

            &:focus {
                border-color: #1976d2;
                outline: none;
            }
        }
    }

    .button-salvar {
        background: #43a047;
        height: 45px;
        width: 25%;
        display: block;
        margin: 1rem auto;
        padding: 0.75rem;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 480px) {
    .form-container {
        margin: 1rem;
        padding: 1rem;
        max-width: 100%;

        .form-titulo {
            font-size: 40px;
            margin-bottom: 2rem;
        }

        .form-item-campo {
            label {
                font-size: 12px;
            }

            input {
                font-size: 0.85rem;
            }
        }

        .button-salvar {
            max-width: 250px;
            min-width: 150px;
            display: block;
            margin: 1rem auto;
        }
    }
}